.upload-input {
  width: 70%;
}

.col-md-6 {
  max-width: 100%; !important;
}

.upload-form {
  margin-top: 25px;
}

.upload-title {
  margin-top: 20px;
}

.upload-input {
  margin-bottom: 20px;
}

.upload-button {
  height: 92px;
}