<div class="container">
  <div class="text-center upload-title">
    <h1>Сверка взаиморасчётов</h1>
  </div>
  <div class="col-md-6">
    <div class="upload-form">
      <input type="button" class="btn btn-primary upload-button" style="float: right" value="Загрузить"
             ng-click="uploadFile(firstFile, secondFile)">
      <div class="custom-file upload-input">
        <input type="file" class="custom-file-input" id="firstFile" file-input ng-model="firstFile">
        <label class="custom-file-label" for="firstFile">Выбрать файл</label>
      </div>
      <div class="custom-file upload-input">
        <input type="file" class="custom-file-input" id="secondFile" file-input ng-model="secondFile">
        <label class="custom-file-label" for="secondFile">Выбрать файл</label>
      </div>
    </div>
    <div ng-if="errors">
      <h4 class="text-center" style="margin-top: 15px">Найденые ошибки</h4>
      <div class="row">
        <span ng-repeat="error in errors">
          {{error.document}} с суммой {{error.sum}} найдена у {{error.originalFileName}} но не найдена в другом файле
        </span>
      </div>
    </div>
  </div>
</div>